body {
    cursor: default;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.title {
    text-align: center;
    font-weight: bolder;
    font-size: 300%;
    border-bottom: 1px dashed black;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.header {
    font-weight: bolder;
    font-size: 200%;
}

.info {
    position: absolute;
    top: 2px;
    left: 2px;
    color: grey;
    padding: 5px 5px;
}

.content {
    margin: auto;
    text-align: center;
    line-height: 2em;
}

.img-pull-left {
    float: left;
    height: 500px;
}

.img-pull-right {
    float: right;
    height: 500px;
}